﻿@page  "{IdQuestion:int}"
@model Survey.AnswerCreatorModel
@{
    ViewData["Title"] = "AnswerCreator";
}

<h1>AnswerCreator</h1>

<form method="post">

    <input type="hidden" asp-for="Answer.Id" />
    <div class="form-group">
        <label asp-for="Answer.AnswerName"></label>
        <input asp-for="Answer.AnswerName" class="form-control" />
        <span class="text-danger" asp-validation-for="Answer.AnswerName"></span>
    </div>
    <div class="form-group">
        <label asp-for="Answer.AnswerType"></label>
        <select class="form-control" asp-for="Answer.AnswerType"
                asp-items="Model.AnswerType"></select>
        <span class="text-danger" asp-validation-for="Answer.AnswerType"></span>
    </div>

    <button type="submit" class="btn btn-primary">Save</button>
    <button type="submit" class="btn btn-secondary ml-1" asp-page-handler="QuestionCreator">Cancel</button>

</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}