﻿@page "{idAnswer:int?}"
@model Survey.DeleteAnswerModel
@{
    ViewData["Title"] = "DeleteAnswer";
}

<h1>DeleteAnswer</h1>

<h2>Delete!</h2>
<div class="alert alert-danger">
    Are you sure you want to delete @Model.Answer.AnswerName ?
</div>
<form method="post">
    <input type="hidden" asp-for=@Model.Answer.Id />
    <button type="submit" class="btn btn-danger">Yes!</button>

    <a asp-page="QuestionCreator" asp-route-IdQuestion=@Model.Answer.IdQuestion class="btn btn-default">Cancel</a>
</form>