﻿@page "{IdQuestion:int?}"
@model Survey.QuestionCreatorModel
@{
    ViewData["Title"] = "QuestionCreator";
}

<h1>QuestionCreator</h1>
<form method="post">

    <input type="hidden" asp-for="Question.IdQuestion" />

    <div class="form-group">
        <label asp-for="Question.QuestionName"></label>
        @if (Model.Question.IdQuestion != 0)
        {
            <input asp-for="Question.QuestionName" class="form-control" disabled />
        }
        else
        {
            <input asp-for="Question.QuestionName" class="form-control" />
        }
        <span class="text-danger" asp-validation-for="Question.QuestionName"></span>
    </div>

    <div class="form-group">
        <label asp-for="Question.QuestionType"></label>
        @if (Model.Question.IdQuestion != 0)
        {
            <select class="form-control" asp-for="Question.QuestionType"
                    asp-items="Model.QuestionType" disabled></select>
        }
        else
        {
            <select class="form-control" asp-for="Question.QuestionType"
                    asp-items="Model.QuestionType"></select>
        }
        <span class="text-danger" asp-validation-for="Question.QuestionType"></span>
    </div>


    @if (Model.Question.Answers.Count() >= 1)
    {
        <div class="form-group  mt-5 ml-5">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">AnswerName</th>
                        <th scope="col">AnswerType</th>
                        <th scope="col">Delete</th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < Model.Question.Answers.Count(); i++)
                    {
                    <tr>
                        <td>@Model.Question.Answers[i].AnswerName</td>
                        <td>@Model.Question.Answers[i].AnswerType.ToString()</td>
                        <td>
                            <a class="btn btn-info" asp-page="DeleteAnswer" asp-route-idAnswer=@Model.Question.Answers[i].Id>
                                Delete! 
                            </a>
                        </td>

                    </tr>
                    }
                </tbody>
            </table>
            <script>
                var tables = document.getElementsByTagName('table');
                var table = tables[tables.length - 1];
                var rows = table.rows;
                for (var i = 1, td; i < rows.length; i++) {
                    td = document.createElement('td');
                    td.appendChild(document.createTextNode(i));
                    rows[i].insertBefore(td, rows[i].firstChild);
                }
            </script>
        </div>
    }
    <div class="form-group">
        <div class="row nav-row">
            <button type="submit" class="btn btn-primary mr-1" asp-page-handler="AnswerCreator" >Add Answers to Question</button>
            <button type="submit" class="btn btn-secondary ml-1" asp-page-handler="QuestionCreator">Cancel</button>
        </div>

        <div class="row nav-row">
            <button type="submit" class="btn btn-success mt-3" asp-page-handler="Save">Save</button>
        </div>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

