﻿@page  "{IdQuestion:int}"

@model Survey.ResultChartModel


    <head>
        <meta name="viewport" content="width=device-width" />
        <script src="//cdn.fusioncharts.com/fusioncharts/latest/fusioncharts.js"></script>
        <script src="//cdn.fusioncharts.com/fusioncharts/latest/themes/fusioncharts.theme.fusion.js"></script>
        <title>ColumnChart</title>
    </head>

    <body>
        <form method="post">
            <div>@Html.Raw(Model.ChartJson)</div>





            @if (Model.Message != null)
            {
                <div class="alert alert-info" role="alert">@Model.Message</div>
            }
            <button type="submit" class="btn btn-secondary" asp-page-handler="Index">Back to Main Menu</button>
        </form>
    </body>



