﻿@page "{IdQuestion:int?}"
@model Survey.SaveModel
@{
    ViewData["Title"] = "Save";
}

<form method="post">

    <h3>@Model.Question.QuestionName</h3>
    @if (@Model.Question.QuestionType == Domain.QuestionType.Multi)
    {
        @for (int i = 0; i < Model.Question.Answers.Count(); i++)

        {
            @if (Model.Question.Answers[i].AnswerType == Domain.AnswerType.Closed)
            {
                <div class="checkbox">
                    <input type="checkbox" asp-for=@Model.Question.Answers[i].Selected />
                    <label>@Model.Question.Answers[i].AnswerName</label>
                    <input type="hidden" asp-for=@Model.Question.Answers[i].Id />
                    <input type="hidden" asp-for=@Model.Question.QuestionType />
                </div>
            }
            else
            {
                <div class="checkbox">
                    <input type="checkbox" asp-for=@Model.Question.Answers[i].Selected />
                    <input asp-for="@Model.Question.Answers[i].AnswerName" />
                    <input type="hidden" asp-for=@Model.Question.Answers[i].Id />
                    <input type="hidden" asp-for=@Model.Question.QuestionType />
                </div>
            }
        }
    }


    @if (@Model.Question.QuestionType == Domain.QuestionType.Single)
    {
        @for (int i = 0; i < Model.Question.Answers.Count(); i++)
        {
            @if (Model.Question.Answers[i].AnswerType == Domain.AnswerType.Closed)
            {
                <div class="radio">
                    @Html.RadioButtonFor(m => m.Question.SelectedAnswersId, Model.Question.Answers[i].Id)
                    <input type="hidden" asp-for=@Model.Question.QuestionType />
                    <label>@Model.Question.Answers[i].AnswerName</label>
                </div>
            }
            else
            {
                <div class="radio">
                    @Html.RadioButtonFor(m => m.Question.SelectedAnswersId, Model.Question.Answers[i].Id)
                    <input type="hidden" asp-for=@Model.Question.QuestionType />
                    <input asp-for="@Model.Question.Answers[i].AnswerName" />
                </div>
            }
        }
    }

    <button type="submit" class="btn btn-success mt-3" asp-page-handler="Vote">Vote !</button>
</form>
